@import "tailwindcss";

@theme {
  --color-primary: #f97316;
  --color-secondary: #0ea5e9;
  --color-accent: #f97316;
  --color-background: #FFFFFF;
  --color-surface: #F8F9FA;
  --color-heading: #1e293b;
  --color-body: #475569;

  --font-sans: "Plus Jakarta Sans", "Inter", sans-serif;

  --shadow-glass: 0px 10px 30px rgba(30, 41, 59, 0.08);

  --radius-xl: 12px;
  --radius-2xl: 16px;

  /* Animacao do letreiro digital */
  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}